<div class="container">
    <body>
        <header class="header">
            <h1>Receipt</h1>
        </header>
        <main class="mainPart">
            <p>Payment confirmation for <%= @merchandise.name %> sold by <%= @seller.name%>_____________________________________________________</p>
            <table>
                <tr>
                    <td>Date:   </td> 
                    <td><%= Date.today %></td>
                </tr>
                <tr>
                    <td>Customer name: </td>
                    <td><%= @buyer.name %></td>
                </tr>
                <tr>
                    <td>Card ending in: </td>
                    <td></td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td>$<%= @purchase.pricesold %></td>
                </tr>
            </table>
        </main>
    </body>
</div>


